.btn {
    outline: none;
    min-width: 50px;

    &.btn-primary {
        background-color: #466ab6;
        border-color: #3c5b9c;

        &:hover {
            background-color: darken(#466ab6, 7.5%);
            border-color: darken(#3c5b9c, 10%);
        }
    }

    &:focus, &:active {
        box-shadow: none;
    }
}