.form-filter {
    border: 1px solid #b7b7b7;
    margin-bottom: 1rem;
    padding: 1rem 1rem 0;
    background-color: #e8e8e8;

    .form-row {
        margin: 0;

        .form-group {
            width: 260px;
            display: flex;
            align-items: center;
            margin-right: 1rem;

            &.form-group-sm {
            }

            &.form-group-lg {
            }

            .form-label {
                width: 100px;
                margin: 0 .5rem 0 0;
                padding: 0;
            }

            .form-control-wrapper, .form-control {
                width: calc(100% - .5rem - 100px);
            }

            .form-control:focus {
                box-shadow: none;
            }
        }
    }
}
