@import '../abstracts/variables';

.react-select-container {
    .react-select__control {
        .react-select__indicators {
            .react-select__indicator {
                padding: 4px;

                svg {
                    width: 18px;
                    height: 18px;
                }

                &.react-select__clear-indicator {
                    padding-right: 0px;
                }

                &.react-select__dropdown-indicator {
                    padding-left: 0px;
                }
            }
        }
    }

    .react-select__menu {
        margin-top: 0;
    }
}