@import '../abstracts/variables';

.table-title {
    border: 1px solid $border-table-grey;
    border-bottom-width: 0;
    padding: 4px 5px;
    background-color: $bg-table-title-grey;
    font-weight: bold;
    color: $blue-button;
}

.pointer-event-none {
    pointer-events: none;
    color: #9a9595;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}