$border-option-list: 1px solid #d3d4d4;
$border-label: 1px solid #9e9e9e;
$box-sizing: border-box;
$indexNormal: 100;
$sub-menu-border: 1px solid #b7b7b7;

.multiple-select {
    &-container {
        border: 1px solid #ced4da;
        position: relative;
        background-color: #FFF;
    }

    &-default {
        box-sizing: $box-sizing;
        width: 100%;
    }

    &-label {
        color: #333;
        display: flex;
        align-items: center;
        height: 26px;
        padding: 6px 27px 6px 0;
        text-align: left;
        outline: none !important;
        cursor: pointer;
        position: relative;
        background-color: transparent;
        border: none;
        font-size: 0.875rem;

        .text-display {
            text-overflow: ellipsis;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            padding-left: 10px;
            font-size: 13px;
        }

        .caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 2px;
            vertical-align: middle;
            border-top: 4px solid;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            position: absolute;
            right: 10px;
            top: calc(50% - 3px);
        }
    }

    &-options-container {
        border: $border-option-list;
        background: #fff;
        position: absolute;
        top: 25px;
        left: 0px;
        z-index: $indexNormal;
        width: auto;
        min-width: 100%;
    }

    &-options {
        margin: 0;
        padding: 5px;
        overflow: auto;
        max-height: 230px;
    }

    &-option-all {
        border-bottom: $border-option-list;
        padding-top: 0;
        padding-bottom: 0;
    }

    &-item {
        display: flex;
        align-items: center;
        padding: 5px 8px;
        font-size: 13px;
        user-select: none;
        position: relative;

        input[type=checkbox] + label {
            cursor: pointer;
        }

        label {
            margin-bottom: 0;
            padding-left: 10px;
        }

        ul.sub-data {
            position: absolute;
            list-style: none;
            top: 25px;

            &:before {
                content: "";
                display: block;
                width: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 25px;
                border-left: $sub-menu-border;
            }

            li {
                padding: 0 15px;
                line-height: 2em;
                position: relative;
                left: -15px;

                &:before {
                    content: "";
                    display: block;
                    width: 10px;
                    border-top: $sub-menu-border;
                    position: absolute;
                    top: 13px;
                    left: 0;
                }

                &:last-child:before {
                    background: white;
                    height: auto;
                    bottom: 0;
                }
            }
        }

        .expand-icon {
            cursor: pointer;
            padding-left: 5px;
            font-size: 14px;
        }
    }

    &-field {
        display: inline-block;
    }
}

.invalid.multiple-select-container {
    border: 1px solid #dc3545;
}

.multiple-select-field.invalid {
    .invalid-feedback {
        display: block;
    }
}

button[disabled] {
    opacity: 0.5;
}
