@import '../../components/react-grid/react-grid';
@import '../../components/form-filter';
@import '../../components/forms';
@import '../../components/icons';
@import '../../components/messages';
@import '../../components/modal';
@import '../../components/tables';

.form-filter {
    .form-row {
        .form-group {
            width: 350px;
        }
    }
}

.notification-template-modal {
    .modal-body {
        textarea {
            min-height: 88px;
            max-height: 184px;
        }
    }
}

.notification-template-content-modal {
    .modal-body {
        .content {
            white-space: pre-line;
        }
    }
}