@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/dev/pages/home/index.chunk.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/pro/pages/home/index.chunk.css" asp-append-version="true"/>
    </environment>
}
@section Scripts{
    <environment include="Development">
        <script src="~/js/dev/pages/home/index.chunk.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/pro/pages/home/index.chunk.js" asp-append-version="true"></script>
    </environment>
}

<div id="app-container"></div>