$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$font-size-sm: 1rem;
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import '~react-toastify/scss/main';
@import '../css/components/buttons';
@import '../css/components/react-select';

html {
    position: relative;
    min-height: 100%;
    font-size: 13px;
}

body {
    font-family: Tahoma,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    color: #252525;
    background: #f1f1f1;
}

.container-fluid {
    padding: 15px;
}

.loading-process {
    background: rgba(255, 255, 255, 0.7) no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;

    .icon-loading {
        position: absolute;
        top: 30%;
        width: 64px;
        height: 64px;
        left: 50%;
        margin: -10px 0 0 -70px;
    }
}

.copied-confirm {
    position: fixed;
    top: 30%;
    left: 50%;
    background-color: #000;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
}

.Toastify {
    .Toastify__toast-container {
        width: auto;
        min-width: 320px;
        max-width: 540px;

        &.Toastify__toast-container--top-center {
            top: 0;
        }

        .Toastify__toast {
            min-height: 50px;
        }
    }
}

.container-fluid {
    padding: 15px;
}

.loading-process {
    background: rgba(255, 255, 255, 0.7) no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;

    .icon-loading {
        position: absolute;
        top: 30%;
        width: 64px;
        height: 64px;
        left: 50%;
        margin: -10px 0 0 -70px;
    }
}