$fontBase: 300 13px Arial, sans-serif;
$font-family: Roboto, Arial, Tahoma, sans-serif;
$font-icons: 'nap-chatbot';

//----- Color palette -----
$white: #fff;
$black: #010101;
$grey: #505050;
$grey-light: #a0a0a0;
$blue-button: #3b5a9a;

//----- Color variables -----
$border-table-grey: #b7b7b7;
$bg-table-title-grey: #e8e8e8;
$planned-color: #808080;
$sending-color: #274B86;
$sent-color: #063;
$error-color: #f00;
$draft-color: #c60;
$resolved-color: #f60;
$duplicated-color: #538dd5;
$bot-blocked-color: #948a54;
$link-color: #366092;
$border-input-color: #ced4da;