@import '../../abstracts/variables';
@import '~react-datepicker/dist/react-datepicker.css';

.react-datepicker {
    font-family: $font-family;
    border-radius: unset;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    font-size: 1rem;
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle {
    border-bottom-color: #fff;
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle {
    margin-top: -7px;
}

.react-datepicker__month-container,
.react-datepicker__time-container {
    margin: 0 4px;
}

.react-datepicker__header {
    background: #fff;
    border-bottom: none;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
    color: #333;
}

.react-datepicker__current-month {
    line-height: 2.5rem;
    font-size: 1.2rem;
}

.react-datepicker-time__header {
    line-height: 2.2rem;
}

.react-datepicker__time-container {
    width: 110px;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: 100%;
    padding: 0 2px;
}

.react-datepicker__day--outside-month {
    color: #A3A3A3;
}

.react-datepicker__day-name, .react-datepicker__day,
.react-datepicker__time-name {
    width: 2.5rem;
    line-height: 2.5rem;
}

.react-datepicker__day-name {
    font-weight: bold;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__day:hover,
.react-datepicker__month-text:hover {
    border-radius: 50%;
    outline: none;
}

.react-datepicker__time-list::-webkit-scrollbar {
    width: 8px;
}

.react-datepicker__time-list::-webkit-scrollbar-thumb {
    background: #ecedef;
}

.react-datepicker__navigation {
    border: none;
    background: #ecedef;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-indent: 0;
    top: 15px;

    &:hover {
        background-color: darken(#ecedef, 10%);
    }

    &:focus {
        outline: none;
    }

    &:before {
        display: inline-block;
        content: '\f105';
        color: #767678;
        font: normal normal normal 14px/1 FontAwesome;
    }

    &.react-datepicker__navigation--next {
        right: 22px;
    }

    &.react-datepicker__navigation--next.react-datepicker__navigation--next--with-time {
        right: 140px;
    }

    &.react-datepicker__navigation--previous {
        left: 22px;

        &:before {
            transform: rotate(180deg);
        }
    }
}

// icon calendar
.position-relative {
    position: relative;
}

.date-picker-icon {
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
}

.react-datepicker-wrapper-container {
    position: relative;

    input {
        width: 100% !important;
    }
}

.react-datepicker__input-container {
    input:read-only {
        background-color: $white;
        cursor: pointer;
    }
}

.react-datepicker__input-container {
    .form-control:disabled {
        background-color: $bg-table-title-grey;
        cursor: context-menu;
    }
}